<tr>
    <th scope="row">{{ item.id }}</th>
    <th>{{ item.wheelDiameter }}</th>
    <th>{{ item.wheelProfile }}</th>
    <th>{{ item.wheelWidth }}</th>
    <th>{{ item.wheelRim }}</th>
    <th>{{ item.wheelOffsetRange }}</th>
    <th>{{ item.wheelBar }}</th>
    <th>{{ item.wheelTireWeight }}</th>
    <th>{{ item.wheelBackspacing }}</th>
    <th>{{ item.petrolName }}</th>
    <th>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">Просмотр</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Редактировать</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Удалить</a>
                </li>
            </ul>
        </div>
    </th>
</tr>