{% trans_default_domain('reference-car.admin') %}

<main class="main d-print-none ">
    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 gap-5">

            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    {{ 'page.brand.index'|trans }}
                </h1>
            </div>

            <div class="d-flex gap-2">
                <a class="btn btn-secondary disabled">Бренды</a>
                <a class="btn btn-primary" href="{{ path('reference-car:admin.car-model.index') }}">Модели</a>
                <a class="btn btn-primary" href="{{ path('reference-car:admin.car-model-generations.index') }}">
                    Поколения
                </a>
                <a class="btn btn-primary" href="{{ path('reference-car:admin.car-models-petrols.index') }}">
                    Комплектации
                </a>
            </div>

        </div>

        <div class="border border-light rounded-4 p-3 p-3">

            {# Форма поиска по разделу #}
            {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}


            <table
                class="table table-striped table-borderless mt-3"
                style='--bs-table-striped-bg: rgba(249,249,249,0.7);'
            >

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Название</th>
                        <th scope="col" class="text-center">Логотип</th>
                        <th scope="col" class="text-center">Публичная страница</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in query.data %}
                        {{ include(_self|replace({ "content.html.twig": "line.html.twig" })) }}
                    {% endfor %}
                </tbody>

            </table>

            {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}

        </div>

    </section>
</main>